
* {
 
 

  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.dark {
  --bg-color: rgb(21, 32, 43);
  --main-color: white;
  --post-color: rgb(63, 63, 63);
  --font-color: white;
}

.light {
  --bg-color: rgb(255, 255, 255);
  --main-color: black;
  --post-color: whitesmoke;
  --font-color: rgb(0, 0, 0);
}
.Appbody{
  /* display: grid;
  grid-template-columns: 210px 200px   ; */
height: 100%;
  display: flex;
  flex-wrap: nowrap;

}
.Postbody{
  position: relative;
  left: 200px;
  top: -450px;
}
.App {
 
 
 
 
  background-color: var(--bg-color);
  color: var(--main-color);
  transition: 1s;
  margin: 0;
  padding: 0;
}
p{
  margin-left: 15px;
}
li{
  display: flex;
  align-items: center;
  margin: 0;
 
 
}
.LeftBar{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 7px;
  margin-right: 7px;
  padding: 5px;
  height: max-content;
width:fit-content ;
font-size: 15px;
background-color: var(--post-color);

}


span {
  font-size: 40px
}
.head1{
  display: flex;
  
  align-items: center;
}
.siderbar .navicon{
  height: 22px;
  width: 22px;
  border-radius: 35px;
  padding: 5px;
  margin: 5px;
  background-color: var(--bg-color);
}
.siderbar  img{
height: 30px;
padding: 5px;
}
.siderbar {
display: flex;
justify-content: space-between;
background-color: var(--post-color);
padding: 0.2em;
}
.head2icon{

  font-size: 28px;
}
.head2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 5px;
  color: var(--font-color);
}
.head3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center
}
svg{
  padding-left: 10px;
}

/* button toogle */
.toogleButton{
  display: flex;
  align-items: center;
height: 2.2em;
width: 2.2em;

border-radius: 25px;
border: none;
color: var(--main-color);
background-color:var(--bg-color);
font-size: 15px;
}



/* fb psot */
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post{

  /* border: 1px solid black; */
  border-radius: 20px;
  /* height: 300px; */
  width: 340px;
  padding: 15px 0px 15px 0px;
  margin: 20px;
  background-color:var(--post-color);
  font-family: 'Roboto', sans-serif;
 font-size: 12px;
  color: var(--main-color);
}

.post .postHeader{
  display: flex;
  align-items: center;
  
  padding: 0px 20px 0px 20px;
}

.post .postText{
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
}

.post .profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.post .postImage{
  width: 100%;
  margin-top: 10px;
}

.post .postFooter{
  display: flex;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  
}
.craetePost{border-radius: 20px;
   height: 50px; 
  width: 300px;
  padding: 15px 0px 15px 0px;
  margin: 20px;
  background-color: rgb(230, 83, 83);
  font-family: 'Roboto', sans-serif;
 
  color: rgb(0, 0, 0);
}